@font-face {
    font-family: pixArial;
    src: url('../fonts/pixArial.ttf');
}

.inset {
  /*box-shadow:-1px -1px 0 .5px rgba(255,255,255,.75) inset,  1px 1px 0 .5px rgba(0,0,0,.25) inset;*/
  box-shadow:-1px -1px 1px .25px rgba(255,255,255,1) inset,  1px 1px 1px .25px rgba(0,0,0,.5) inset;
  /*border: 1px inset #ccb;*/
  box-sizing: content-box;
}

.raise {
  /*box-shadow:1px 1px 0 .5px rgba(255,255,255,.9) inset,  -1px -1px 0 .5px rgba(0,0,0,.25) inset;*/
  /*border: 1px outset rgba(127,127,127,.5);border-right: 1px inset rgba(0,0,0,.5);*/
  /*border: 1px outset #ccb;*/
  box-shadow:1px 1px 1px .25px rgba(255,255,255,1) inset,  -1px -1px 1px .25px rgba(0,0,0,.5) inset;
  box-sizing: content-box;
}

.button {
  box-shadow:1px 1px 0 .5px rgba(255,255,255,.9) inset,  -1px -1px 0 .5px rgba(0,0,0,.25) inset;
  background-color: none;
}

.buttonActive {
  box-shadow:-1px -1px 0 .5px rgba(255,255,255,.75) inset,  1px 1px 0 .5px rgba(0,0,0,.25) inset;
  background-color: rgba(0,0,0,.5);
}

body {
  position: fixed;
  top:0;
  left:0;
  font-family: Arial;
  font-weight: lighter;
  width:100%;
  height:100%;
}

#background {
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color: #369;
  overflow: hidden;
}

#desktop {
  overflow: hidden;
  position:fixed;
  left: 0;
  top:0;
  width:100%;
  height:100%;
}

eye-con {
  position:absolute;
  text-align: center;
  height: 60px;
  width:70px;
  border-radius: 1px;
  box-sizing: content-box;
}

.iconSelect {
  border: 1px dotted;
  border-color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0.25);
  box-sizing: content-box;
}

eye-con > img {
  display: block;
  height:40px;
  margin-left: 15px;
  width: auto;
}

.iconTitle {
  white-space: nowrap;
  display: block;
  font-size: 9pt;
  margin-top: 3px;
  color: #fff;
}

#windows {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  overflow: hidden;
  pointer-events:none;
}

#menuBar {
  position:fixed;
  display: flex;
  bottom:0;
  left: 0;
  width: 100%;
  height: 28px;
  text-align: left;
  background-color: #ccb;
  box-shadow:-1px 3px 0 -1px white inset
}

.divider {
  margin-left:3px;
  margin-top: 3px;
  height: 22px;
  width: auto;
}

#start {
  display: inline-block;
  margin-left: 3px;
  margin-top:3px;
  height: 22px;
  width: auto;
}

#winTray {
  display: inline-block;
  margin-left: 3px;
  margin-top: 3px;
  height:22px;
  flex: 1;
}

.trayButton {
  display: inline-block;
  margin-right:3px;
  width:120px;
  height:22px;
  flex-shrink: 1;
  flex-basis: auto;
  text-overflow: ellipsis;
  padding-right:2px;
  overflow-x: hidden;
  color:black;
}

.trayButton> img{
  position: relative;
  display: inline-block;
  left:2px;
  top: 2px;
  height: 14px;
  width:auto;
}

#systemTray {
  position: relative;
  /*flex-shrink: 1;*/
  margin: 3px;
  right:0;
  bottom:0;
  height:22px;
  width:100px;
}

#clock {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 6px;
  line-height: 22px;
  font-size: 11px;
  text-align: right;
}
